@import "tailwindcss";

@theme {
    /* Colors */
    --color-primary: #b86614;
    --color-secondary: #887563;
    --color-background: #FDFCF8;
    --color-surface: #F4F1ED;
    --color-dark: #181411;

    /* Fonts */
    --font-sans: 'Manrope', sans-serif;
    --font-serif: 'Playfair Display', serif;

    /* Custom Animations */
    --animate-fade-in: fadeIn 0.5s ease-out forwards;
    --animate-slide-up: slideUp 0.6s cubic-bezier(0.16, 1, 0.3, 1) forwards;
    --animate-pulse-slow: pulse 3s cubic-bezier(0.4, 0, 0.6, 1) infinite;
    --animate-waveform: waveform 1s ease-in-out infinite;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes waveform {

    0%,
    100% {
        height: 10%;
    }

    50% {
        height: 100%;
    }
}

body {
    background-color: #FDFCF8;
    color: #181411;
    -webkit-font-smoothing: antialiased;
}

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}